<mat-sidenav-container class="sidenav-container mat-app-background" [ngClass]="{'dark-theme-mode':isDarkTheme}">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/dogs">Dogs</a>
      <a mat-list-item routerLink="/contact">Contact</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <div class="loader-container">
      <mat-progress-bar *ngIf="ShowSpinner" mode="query" color="warn"></mat-progress-bar>
      <mat-progress-bar *ngIf="ShowSpinnerin" mode="indeterminate" color="warn"></mat-progress-bar>

    </div>

    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>PET INFO</span>
      <span style="flex: auto;" color="accent"></span>
      <mat-slide-toggle [(ngModel)]="isDarkTheme" labelPosition="before" (change)="storeThemeSelection()">
        <mat-icon *ngIf="icon">dark_mode</mat-icon>
      </mat-slide-toggle>
    </mat-toolbar>
    
    <!--*****-->
    
    <!--*****-->

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>